<footer>
  <div class="footer-container">
    <div class="company-info">
      <div class="logo">
        <img src="images/dk.png" alt="DK Collins Logo">
      </div>
      <div class="social-media">
        <!-- Social media links -->
        <a href="#"><img src="images/fb.svg" alt="Facebook Icon"></a>
        <a href="#"><img src="images/ig.svg" alt="Instagram Icon"></a>
        <a href="#"><img src="images/tiktok.svg" alt="Tiktok Icon"></a>
      </div>
    </div>
    <div class="contact-info">
      <p>&copy; <span id="year">2024</span> DK Collins</p>
      <p>123 Main Street, City, Country</p>
      <p>Phone: +1234567890</p>
      <p>Email: info@dkcollins.com</p>
    </div>
  </div>
</footer>