 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%- title %> | Duni Kollins</title>
  <meta name="description"
    content>
  <meta name="author" content>
  <meta property="og:url" content>
  <meta property="og:type" content>
  <meta property="og:title" content>
  <meta property="og:description" content>
  <meta property="og:image" content>
  <meta name="twitter:card" content="summary"> <!-- Important-->
  <meta name="twitter:title" content><!-- Important-->
  <meta name="twitter:description" content>
  <meta name="twitter:image" content>
  <script defer></script>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="/js/script.js" defer></script>
</head>