<header>
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <img src="/images/dk-removebg-preview.png" alt="DK Collins Logo">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="/shop">Shop</a>
          <div class="dropdown-content">
            <a href="/shop#bags-section">Bags</a>
            <a href="/shop#perfume-section">Perfume</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/about-us">About</a>
          <div class="dropdown-content">
            <a href="/about-us#contact-us">Contact Us</a>
            <a href="/about-us#refund">Refund Policy</a>
          </div>
        </li>
        <li class="cart-mobile"><a href="/shoppingcart"><img
              src="/images/shopping-cart.svg"
              alt="Shopping Cart"></a></li>
      </ul>
    </nav>
    <div class="cart-desktop">
      <a href="/shoppingcart"><img src="/images/shopping-cart.svg"
          alt="Shopping Cart"></a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>