<section id="login-form-section">
  <h2>Login</h2>

  <%= notice %>
  <form id="login-form" method="post" action="/login">

    <input type="email" name="email" placeholder="Email" required>

    <input type="password" name="password" placeholder="Password" required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
      title="Password must contain at least one number, one uppercase, one lowercase letter, one special character, and at least 8 or more characters">

    <button type="submit" class="button-link">Login</button>

    <p>Need an account? <a href="/register">Register here</a>
    </p>
  </form>
</section>