 <section class="hero">
  <div class="slider slider1 active">
    <img src="images/1.png" alt="Dawn Perfume">
    <div class="text-overlay">
      <h2>Dawn Perfume</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        sunt minima culpa quaerat ipsa quo alias vero animi similique sed,
        excepturi dolorem debitis eaque ipsam unde amet porro repellendus
        reprehenderit?</p>
      <a class="buy-button" href="#">Buy Now</a>
    </div>
  </div>

  <div class="slider slider2">
    <img src="images/2.png" alt="Summer Perfume">
    <div class="text-overlay">
      <h2>Summer Perfume</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        sunt minima culpa quaerat ipsa quo alias vero animi similique sed,
        excepturi dolorem debitis eaque ipsam unde amet porro repellendus
        reprehenderit?</p>
      <a class="buy-button" href="#">Buy Now</a>
    </div>
  </div>

  <div class="slider slider3">
    <img src="images/3.png" alt="Spring Perfume">
    <div class="text-overlay">
      <h2>Spring Perfume</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        sunt minima culpa quaerat ipsa quo alias vero animi similique sed,
        excepturi dolorem debitis eaque ipsam unde amet porro repellendus
        reprehenderit?</p>
      <a class="buy-button" href="#">Buy Now</a>
    </div>
  </div>

  <div class="slider slider4">
    <img src="images/4.png" alt="Rose Dew Perfume">
    <div class="text-overlay">
      <h2>Rose Dew Perfume</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        sunt minima culpa quaerat ipsa quo alias vero animi similique sed,
        excepturi dolorem debitis eaque ipsam unde amet porro repellendus
        reprehenderit?</p>
      <a class="buy-button" href="#">Buy Now</a>
    </div>
  </div>

  <div id="pagination">
    <button class="active" data-slide="0"></button>
    <button data-slide="1"></button>
    <button data-slide="2"></button>
    <button data-slide="3"></button>
  </div>
</section>

<section class="gallery">
  <div class="gallery-wrapper">
    <img
      src="https://images.pexels.com/photos/4659794/pexels-photo-4659794.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/965731/pexels-photo-965731.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/932587/pexels-photo-932587.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/949590/pexels-photo-949590.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/1653085/pexels-photo-1653085.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/227908/pexels-photo-227908.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/910341/pexels-photo-910341.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/1666404/pexels-photo-1666404.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/3785784/pexels-photo-3785784.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/8361493/pexels-photo-8361493.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/8501678/pexels-photo-8501678.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <!-- Repeat images to create an infinite loop effect -->
    <img
      src="https://images.pexels.com/photos/4659794/pexels-photo-4659794.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/965731/pexels-photo-965731.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/932587/pexels-photo-932587.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/949590/pexels-photo-949590.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt>
    <img
      src="https://images.pexels.com/photos/1653085/pexels-photo-1653085.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/227908/pexels-photo-227908.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/910341/pexels-photo-910341.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/1666404/pexels-photo-1666404.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/3785784/pexels-photo-3785784.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/8361493/pexels-photo-8361493.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
    <img
      src="https://images.pexels.com/photos/8501678/pexels-photo-8501678.jpeg?auto=compress&cs=tinysrgb&w=300"
      alt>
  </div>
</section>

<section class="customer-reviews">
  <h1>Customer Reviews Coming Soon!</h1>
</section>