<div class="shop-container">
  <section id="bags-section" class="bags-section">
    <h2>Bags</h2>
    <div class="catalogs">
      <div class="product">
        <img src="images/bag1.png" alt="Bag 1">
        <h3>Gen Z Classy</h3>
        <p>$59.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bag2.png" alt="Bag 2">
        <h3>Chic Soho</h3>
        <p>$69.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bag3.png" alt="Bag 3">
        <h3>Fashion Tote</h3>
        <p>$79.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bag4.png" alt="Bag 4">
        <h3>Fashion Soho</h3>
        <p>$102.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
    </div>
  </section>

  <section id="perfume-section" class="perfume-section">
    <h2>Perfumes</h2>
    <div class="catalogs">
      <div class="product">
        <img src="images/bottle1.png" alt="Shoe 1">
        <h3>Rose Dew</h3>
        <p>$89.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bottle2.png" alt="Shoe 2">
        <h3>Summer</h3>
        <p>$99.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bottle3.png" alt="Shoe 3">
        <h3>Winter</h3>
        <p>$109.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
      <div class="product">
        <img src="images/bottle4.png" alt="Shoe 3">
        <h3>Spring</h3>
        <p>$109.99</p>
        <a href="/addToCart" class="buy-button">Buy Now</a>
      </div>
    </div>
  </section>

</div>