body {
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

/* header design */
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.logo img {
	max-height: 50px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav ul li {
	position: relative;
}

nav ul li a {
	text-decoration: none;
	color: grey;
	padding: 10px 15px;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #003049;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	top: 100%;
	left: 0;
	min-width: 150px;
	z-index: 1;
}

.dropdown-content a {
	padding: 10px 15px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.cart-desktop img {
	max-height: 30px;
}

.cart-mobile {
	display: none;
}

.hamburger {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

.hamburger .bar {
	width: 25px;
	height: 3px;
	background-color: #333;
}

/* footer design */
.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #f8f8f8;
	border-radius: 40px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 1200px;
	margin: 20px auto;
	text-align: center;
}

.footer-container .company-info,
.footer-container .contact-info {
	margin-bottom: 20px;
}

.footer-container .logo img {
	max-height: 50px;
	margin-bottom: 10px;
}

.footer-container .social-media {
	display: flex;
	gap: 12px;
}

.footer-container .social-media a {
	text-decoration: none;
	color: #333;
}

.footer-container .contact-info p {
	margin: 5px 0;
}

/* mobile view design */
@media (max-width: 768px) {
	/* header */
	nav {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	.header-container {
		justify-content: space-between;
	}

	.header-container.active nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color: #8d99ae;
		opacity: 0.9;
		border-radius: 15px;
		padding: 10px 20px;
		z-index: 1000;
	}

	.header-container.active nav ul {
		flex-direction: column;
	}

	.header-container.active nav ul li {
		margin-bottom: 10px;
	}

	.header-container.active .dropdown-content {
		position: static;
		box-shadow: none;
	}

	.cart-desktop {
		display: none;
	}

	.cart-mobile {
		display: block;
	}

	/* footer */
	.footer-container {
		padding: 15px;
	}

	.footer-container .social-media {
		flex-direction: row;
	}
}

/* Login Page Styles */
/* This section contains specific styles for the login.html page */
#login-form-section,
#register-form-section {
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f8f8f8;
}

#login-form-section h2,
#register-form-section h2 {
	text-align: center;
	color: #333;
}

#login-form-section form,
#register-form-section form {
	display: flex;
	flex-direction: column;
}

#login-form-section input,
#register-form-section input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.button-link {
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-bottom: 5px;
	text-decoration: none;
	text-align: center;
}

.button-link:hover {
	background-color: #0056b3;
}

.button-link p {
	text-align: center;
	margin-top: 10px;
}

#login-form-section p a,
#register-form-section p a {
	color: $007bff;
	text-decoration: none;
}

#login-form-section p a:hover,
#register-form-section p a:hover {
	text-decoration: underline;
}

.buy-button {
	padding: 10px;
	background-color: grey;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.slider {
	display: none;
	position: relative;
	text-align: left;
	padding: 0 20px 20px 0;
	border-radius: 15px;
}

.slider.active {
	display: block;
	transition: opacity 0.8s ease-in-out;
}

.slider img {
	width: 100%;
	animation: rotate 5s linear infinite;
}

.text-overlay {
	padding: 2%;
	border-radius: 40px;
	margin: 0 auto;
	width: 40%;
	position: absolute;
	top: 40%;
	right: 50px;
	background: rgba(0, 0, 0, 0.5);
	color: #edf2f4;
}

@media (max-width: 768px) {
	.text-overlay {
		width: 80%;
		top: 2%;
		right: 10%;
		padding: 0;
	}

	.text-overlay h2 {
		margin: 0;
	}

	.text-overlay p {
		margin-top: 0;
	}

	#pagination {
		padding: 10px;
		margin-top: 15px;
	}
}

#pagination {
	display: flex;
	gap: 5px;
	transform: translateY(-50%);
	background-color: #8d99ae;
	justify-content: space-evenly;
	padding: 20px;
	width: 250px;
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 35px;
}

#pagination button {
	display: block;
	border: 0;
	background-color: #edf2f4;
	border-radius: 100%;
	padding: 10px;
	cursor: pointer;
	position: relative;
	opacity: 0.2;
	transition: opacity 0.2s ease-in-out;
	outline: none;
}

#pagination button:hover {
	opacity: 0.5;
}

#pagination button.active {
	opacity: 1;
}

#pagination button:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* gallery section */
.gallery {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	padding: 20px 0;
}

.gallery-wrapper {
	display: flex;
	animation: slide 30s linear infinite;
}

.gallery img {
	object-fit: cover;
	margin-right: 10px;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.gallery::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
	z-index: 2;
}

/* Shop Page Styles */
.shop-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.shop-container section {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	background-color: #f8f8f8;
}

.shop-container h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.catalogs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.product {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
}

.product-order {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
	text-align: center;
}

.product img {
	width: 100%;
	max-width: 200px;
	border-radius: 10px;
}

.product h3 {
	margin: 10px 0;
	color: #333;
}

.product p {
	color: #777;
}

#quantity,
#color,
#bottle-size {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Responsive styles for shop page */
@media (max-width: 768px) {
	.shop-container {
		padding: 10px;
	}

	.shop-container section {
		padding: 15px;
	}

	.product img {
		max-width: 150px;
	}
}

/* About Us page styles */

/* Contact Us section */
.contact-us {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
}

.contact-us img {
	width: 50%;
}

.contact-us h1 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.contact-us p {
	color: #666;
	line-height: 1.6;
}

.contact-us form {
	margin-top: 20px;
}

.contact-us form label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

.contact-us form input[type="text"],
.contact-us form input[type="email"],
.contact-us form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-us form textarea {
	height: 150px;
}

.contact-us form button {
	padding: 10px 20px;
	background-color: #003049;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-us form button:hover {
	background-color: #1a508b;
}

/* Refund Policy section */
.refund-policy {
	padding: 20px;
	max-width: 800px;
	margin: 20px auto;
}

.refund-policy h1 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.refund-policy h2 {
	color: #333;
	margin-top: 20px;
}

.refund-policy p {
	color: #666;
	line-height: 1.6;
	margin-bottom: 15px;
}

.refund-policy h2:first-of-type {
	margin-top: 0;
}

/* Cart section  */
.cart-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.cart-container h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.cart-item img {
	width: 80px;
	height: auto;
	border-radius: 5px;
}

.cart-item-details {
	flex: 1;
	margin-left: 20px;
}

.cart-item-details h3 {
	margin: 0;
	color: #333;
}

.cart-item-details p {
	margin: 5px 0;
	color: #777;
}

.cart-item-quantity,
.cart-item-price {
	text-align: center;
}

.remove-btn,
.edit-btn,
.apply-promo-btn {
	padding: 5px;
}

/* payment section */
#checkout {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

.checkout-container {
	padding: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input,
.promo-section input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 3px;
}

.form-group input:focus {
	border-color: #007bff;
	outline: none;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.submit-btn:hover {
	background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 600px) {
	.checkout-container {
		padding: 10px;
	}

	.form-group input {
		padding: 8px;
	}

	.submit-btn {
		padding: 8px;
	}
}

/* Add Product Page Styles */
.admin-add-product {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.admin-add-product h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.product-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

.admin-add-product form label {
	font-weight: bold;
	color: #333;
}

.admin-add-product form input,
.admin-add-product form textarea,
.admin-add-product form select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 5%;
}

.admin-add-product form textarea {
	resize: vertical;
	height: 150px;
}

.admin-add-product form button {
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.admin-add-product form button:hover {
	background-color: #0056b3;
}

/* Responsive styles for Add Product page */
@media (max-width: 768px) {
	.admin-add-product {
		padding: 10px;
	}

	.admin-add-product form input,
	.admin-add-product form textarea,
	.admin-add-product form select {
		padding: 8px;
	}

	.admin-add-product form button {
		padding: 8px;
	}
}

/* Admin Message Page Styling */
.complaints-list {
	margin: 0 auto;
	padding: 0 20px 20px 5px;
	border: 1px solid grey;
	border-radius: 7px;
	width: 80%;
	list-style: none;
}
